<!doctype html>
<html lang="en" ng-app="prepTickets"  id="ng-app" ng-controller="appCtrl" xmlns:ng="http://angularjs.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title ng-bind="title + ' - PrepTickets'">PrepTickets</title>
  <%= stylesheet_link_tag "app.css" %>
  <%= stylesheet_link_tag "print.css", media: :print %>
  <!--[if lte IE 8]>
    <script type="text/javascript">
      window.myCustomTags = [ 'flashmessages', 'loader', 'eventdate', 'qrcode', 'ticketpaging', 'location-address', 'blocks', 'block', 'checkout-process' , 'checkout-step' ];
    </script>
    <% Application::IE_REQUIRED_FILES.each do |file| %>
    <script src="/<%= file %>" type="text/javascript"></script>
    <% end %>
  <![endif]-->
</head>
<body>
  <!--[if lte IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->
  <header class="hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-2 hidden-xs logo">
          <img src="/img/PrepTicketsLogo.png" class="img-responsive" alt="Prep Tickets" />
        </div>
        <div class="col-xs-12 col-sm-10">
          <div ng-include="'views/common/nav.html'"></div>
          <div class="navbar navbar-secondary hidden-xs">
            <ul class="nav navbar-nav breadcrumb">
              <li><a ng-href="#/"><i class="icon-home icon-large"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div id="main" class="container">
    <div class="row">
      <div class="col-xs-12">
        <flashmessages></flashmessages>
        <div ng-view="">
          <!-- Content should all load within here -->
        </div>
      </div>
    </div>
  </div>
  
  <footer class="hidden-print">
    <div class="blue-bar">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12 col-7 col-sm-7 col-lg-7 text-right text-xs-center">
            <p>Schools are free to signup!</p>
          </div>
          <div class="col col-xs-12 col-5 col-sm-5 col-lg-5 text-xs-center">
            <a href="" class="btn btn-blue">&gt; Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row border-bottom">
        <div class="col col-7 col-sm-7 col-lg-7 border-right border-xs-bottom school-admin">
          <h3>School Administrators</h3>
          <p>
            Selling tickets to your school events has never been easier. Register with PrepTickets, list your events and improve revenue accountability by accepting credit card purchases 24x7.
          </p>
          <img src="/img/PrepTicketsLogo.png" class="img-responsive pull-right" alt="Prep Tickets" style="width:170px;" />
          <p>All PrepTickets services are provided at no cost to your school.</p>
          <p>Learn more about our Skool Aid program</p>
          <div class="row">
            <div class="col-xs-12 text-xs-center">
              <a class="btn btn-blue btn-indent btn-bottom-buffer">&gt; Sign up your school today</a>
            </div>
          </div>
        </div>
        <div class="col col-5 col-sm-5 col-lg-5 testimonials">
          <div class="row">
            <div class="col col-xs-3 text-right">
              <img src="/img/testimonial_head.png" alt="Testimonial Head">
            </div>
            <div class="col col-xs-9">
              <h3>Testimonials</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="quote">
                <p> 
                  Before prepTickets, I would have to spend up to 6 hrs a month doing ticket administration tasks. I’ve found a better way now, thanks prepTickets!
                </p>
                <small>by Frank Johns</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12 col-sm-7">
          <div class="links">
            <a href="#">Home</a> |
            <a href="#">About Us</a> |
            <a href="#">Contact Us</a> |
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms</a> |
            <a href="#">Refund Policy</a>
          </div>
          <div class="copyright">&copy; <%= Date.today.year %> PrepTickets.com</div>
        </div>
        <div class="col col-xs-12 col-sm-5 owner text-xs-left">
          PrepTickets™ is property of Horizon Productions
        </div>
      </div>
    </div>
    <div class="row color-strip">
      <div class="col-xs-2" style="background:#a469bd;"></div>
      <div class="col-xs-2" style="background:#faa226;"></div>
      <div class="col-xs-2" style="background:#00acee;"></div>
      <div class="col-xs-2" style="background:#f4503e;"></div>
      <div class="col-xs-2" style="background:#2ecc71;"></div>
      <div class="col-xs-2" style="background:#c39cd3;"></div>
    </div>
  </footer>
  <%= javascript_link_tag 'main.js' %>
  <!-- last built on <%= Time.now %> -->
</body>
</html>
